%h1= header_for_posts_index(:category => @category, :tag => @tag)
- @posts.each do |post|
  %article
    %h2= link_to post.title, post_path(post.url_friendly_token)
    %p
      = truncate(post.content, :length => 200, :omission => '...').html_safe
      = link_to 'read more', post_path(post)